body{
    background-color: rgb(46, 62, 97);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#apps{
    height: 120vmax;
    width: 120vmax;
    position: absolute;
}

.tile {
    border-radius: 1vmax;
    position: absolute;
}

.tile > .app {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease,
      transform 800ms ease;
  }

.tile:hover > .app {
    opacity: 1;
}

.tile:hover {
    transform: scale(1.1);
}

.tile:nth-child(1){
    background-color: rgb(32, 193, 191);
    height: 10%;
    width: 25%;
    left: 8%;
    top: 15%;
}

.tile:nth-child(2){
    background-color: rgb(167, 202, 227);
    height: 20%;
    width: 20%;
    left: 56%;
    top: 14%;
}

.tile:nth-child(3){
    background-color: rgb(5, 118, 114);
    height: 28%;
    width: 10%;
    left: 16%;
    top: 33%;
}

.tile:nth-child(4){
    background-color: rgb(106, 129, 137);
    height: 14%;
    width: 20%;
    left: 75%;
    top: 40%;
}

.tile:nth-child(5){
    display: flex;
    background-color: rgb(236, 233, 217);
    height: 8%;
    width: 30%;
    left: 40%;
    top: 56%;
}

#time{
    text-align: center;
    font-size: 10vw;
}