*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body{
    background-color: #81559B;
    color: #7E3F8F;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
}

canvas {
    position: absolute;
}

#logo {
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#apps{
    height: 120vmax;
    width: 120vmax;
    position: absolute;
}

.tile {
    border-radius: 1vmax;
    position: absolute;
}

.tile > .app {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease,
      transform 800ms ease;
  }

.tile:hover > .app {
    opacity: 1;
}

.tile:hover {
    transform: scale(1.1);
}

.tile:nth-child(1){
    background-color: #F0FFCE;
    height: 10%;
    width: 25%;
    left: 8%;
    top: 15%;
}

#cat-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}

.tile:nth-child(2){
    background-color: #F4CFD9;
    height: 20%;
    width: 20%;
    left: 56%;
    top: 14%;
}

#display{
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: center;
    height: 4vw;
    text-align: right;
    font-size: 3.5vw;
    background-color: #F0FFCE;
    padding-left: 1px;
    border-radius: 1vw 1vw 0 0;
}

.buttons{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button{
    line-height: 4vw;
    font-size: 3vh;
    cursor: pointer;
    user-select: none;
}

#equal{
    background-color: #DB5461;
    color: white;
    border-bottom-right-radius: 1vw;
}

.tile:nth-child(3){
    background-color: #DB5461;
    height: 28%;
    width: 12%;
    left: 16%;
    top: 33%;
}

#todo {
    font-size: 4vh;
    display: flex;
    flex-direction: column;
}

#inp {
    font-size: 4vh;
    margin: 1vw 1vw;
    border-radius: 1vmax;
}

#btn {
    margin: 0 20%;
    font-size: 3vh;
}

#ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}

#ul li {
    overflow-y: scroll;
    margin: 1vh 1vw;
    padding: 0 0;
    display: flex;
}

#ul li a{
    margin: 0 10px;
    padding: auto;
    background-color: #F0FFCE;
}


.tile:nth-child(4){
    background-color: #F0687F;
    height: 14%;
    width: 20%;
    left: 75%;
    top: 40%;
}

table {
    border-collapse: collapse;
}

#Mo {
    border-radius: 1vw 0 0 0;
}

#Su {
    border-radius: 0 1vw 0 0;
}

td,th {
    height: 2.7vw;
    width: 7vw;
    text-align: center;
}

th {
    background-color: #F0FFCE;
    font-weight: bold;
}

#today{
    background-color: #DB5461;
}

.tile:nth-child(5){
    display: flex;
    background-color: #56CBF9;
    height: 8%;
    width: 30%;
    left: 40%;
    top: 56%;
}

#time{
    text-align: center;
    font-size: 7.5vw;
}